---
permalink: /
---

<header id="site-header">
  <h1 class="title sr-only">{{ general.title }}</h1>
  <img id="logo" src="/assets/images/{{ general.logo }}" alt="{{ general.title }}">
</header>

<section id="main-content" role="main1" data-role="content">

  <header id="banner">
    <div class="container-fluid">
      <h2>{{ general.description }}</h2>
    </div>
  </header>

  <nav id="main-nav">
    <ul class="row">{% include "navigation.njk" %}</ul>
  </nav>

</section>

<section id="panels">
  {% include "panels.njk" %}
</section>
