<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ general.title }}</title>

    <!-- Add to Home Screen -->
    <link rel="manifest" crossorigin="use-credentials" href="manifest.json">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/philfung/add-to-homescreen@2.0/dist/add-to-homescreen.min.css">
    <script src="https://cdn.jsdelivr.net/gh/philfung/add-to-homescreen@2.0/dist/add-to-homescreen.min.js"></script>
    <!-- End Add to Home Screen -->

    <link rel="stylesheet" href="{{ '/assets/styles/styles.css' | url }}" />
    <link rel="shortcut icon" sizes="16x16" href="/assets/images/icon16x16.png">
    <link rel="shortcut icon" sizes="32x32" href="/assets/images/icon32x32.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/images/icon152x152.png">
    <link rel="shortcut icon" sizes="196x196" href="/assets/images/icon196x196.png">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{general.googleanalytics}}"></script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{general.googleanalytics}}');</script>
    <!-- End Google Tag Manager -->

  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{general.googleanalytics}}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <a class="visually-hidden" href="#main">Skip to content</a>

    {# Main content #}
    <main id="main" tabindex="-1">
      {{ content | safe }}
    </main>

    <script>
      document.addEventListener('DOMContentLoaded', function () { 
      window.AddToHomeScreenInstance = new window.AddToHomeScreen({
        appName: 'Optum Benefits Directory',                                   // Name of the app.
                                                                          // Required.
        appIconUrl: '/assets/images/icon196x196.png',                    // App icon link (square, at least 40 x 40 pixels).  
                                                                          // Required.
        assetUrl: 'https://cdn.jsdelivr.net/gh/philfung/add-to-homescreen@2.0/dist/assets/img/',  // Link to directory of library image assets.

        allowUserToCloseModal: true,                          // Allow user to close the 'Add to Homescreen' message? Not allowing will increase installs.
                                                              // Optional. Default: false.
      
        maxModalDisplayCount: -1                               // If set, the modal will only show this many times.
                                                              // Optional. Default: -1 (no limit).  (Debugging: Use this.clearModalDisplayCount() to reset the count)
      });
            
      ret = window.AddToHomeScreenInstance.show('en');        // show "add-to-homescreen" instructions to user, or do nothing if already added to homescreen
                                                              // The only argument is the language to show the messages in (currently only 'de', 'en', 'pt' and 'fr' are available).
      });
    </script>

    <script src="/assets/scripts/main.js" defer></script>
  </body>
</html>
