<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ general.title }}</title>

    <link rel="stylesheet" href="{{ '/assets/styles/styles.css' | url }}" />
    <link rel="shortcut icon" sizes="16x16" href="/assets/images/icon16x16.png">
    <link rel="shortcut icon" sizes="32x32" href="/assets/images/icon32x32.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/images/icon152x152.png">
    <link rel="shortcut icon" sizes="196x196" href="/assets/images/icon196x196.png">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{general.googleanalytics}}"></script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer',{{general.googleanalytics}});</script>
    <!-- End Google Tag Manager -->

  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{general.googleanalytics}}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <a class="visually-hidden" href="#main">Skip to content</a>

    {# Main content #}
    <main id="main" tabindex="-1">
      {{ content | safe }}
    </main>

    <script src="/assets/scripts/main.js" defer></script>
  </body>
</html>
