@font-face {
    font-family: EnterpriseSans;
    src: url('/assets/fonts/EnterpriseSansVF_TTF/EnterpriseSansVF[wdth,wght].ttf');
    font-style: normal;
}

@font-face {
    font-family: EnterpriseSans;
    src: url('/assets/fonts/EnterpriseSansVF_TTF/EnterpriseSansVF-Italic[wdth,wght].ttf');
    font-style: italic;
}